
.header{
    background-color:#dcf3e4;
    height: 70px;
}

.main{
    background-color:#ffffff;
}

.footer{
    background-color:#cbc5ff;
    height: 70px;
}

.profile{
    background-color: #C5FFFB;
    height:100%; 

}

.wrapper01{

    width: 90%;
    margin: 0 auto;
    /* background-color:#235f7a; */

}

.wrapper01__area{
    padding: 10% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__content01{
    width: 50%;
    /* background-color:#256b25; */
    display: flex;
    justify-content: center;

}
.profile__content02{
    width: 40%;
    background-color:#FFF4DD;
    display: flex;
    justify-content: center;
}

.profile__content01 img{
    width:80%;
}

.profile__content02 p{
    width: 70%;
}

.wrapper02__area{
    border: solid 3px #b9b9b9;
    border-radius: 10px;

    margin: 1%;
    padding: 1%;

}

.skill__title{
    text-align: center;
}
.skill__container{
    display: flex;
    margin: 10%;

}

.skill-item01{
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.skill-item02{
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.skill-item01__icon{
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: aquamarine;
}
.skill-item02__icon{
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: rgb(255, 176, 102);
}